# Compiled
*.elc
*.eld

# Packaging
.cask

# extra crap
*plstore
*flycheck*

# eshell
eshell/*

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Cache
.cache

# history
history

# Misc
*tree*
*graphene*
*last
*recentf*
*elpa*
*emms*
*transient*
*smex*