# Compiled
*.elc
*.eld

# Packaging
.cask

# extra crap
*plstore
*flycheck*

# elfeed
url/*

# eshell
eshell/*

# elfeed
elfeed/*

# data files
*.data

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

# Cache
.cache
*cache*

# history
history

# Misc
*tree*
*graphene*
*last
*recentf*
*elpa*
*emms*
*transient*
*smex*